body {
    background: IndianRed;
    text-align: center;
}

h1 {
    color: DarkRed;
}

a:link {
    color: IndianRed;
}

a:hover {
    color: LightCoral;
}

img {
    transition: transform 0.2s ease;
}

img:hover {
    transform: translateY(-10px);
}